.menu__header, .map, .about, .menu__title, .full__menu, .operation__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meals p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand-v6-latin-regular.eot");
  src: local(""), url("../fonts/shrikhand-v6-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/shrikhand-v6-latin-regular.woff2") format("woff2"), url("../fonts/shrikhand-v6-latin-regular.woff") format("woff"), url("../fonts/shrikhand-v6-latin-regular.ttf") format("truetype"), url("../fonts/shrikhand-v6-latin-regular.svg#Shrikhand") format("svg");
  /* Legacy iOS */
}

h1, h5 {
  font-family: 'Shrikhand', sans-serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 2.5rem;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'robotoregular', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.menu__header i {
  position: relative;
  right: 40px;
  font-size: 1.2em;
}

.header__img img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20%;
  max-height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__main {
  background-color: #f5f5f5;
}

.menu {
  position: relative;
  bottom: 50px;
  background-color: #f5f5f5;
  border-radius: 45px 45px 0 0;
}

.menu__title {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu h1 {
  margin-top: 35px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1.7em;
}

.menu i {
  font-size: 1.4em;
  margin-left: 20px;
  padding-top: 30px;
  color: #7a7979;
}

.full__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.full__menu h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1em;
  margin-top: 35px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

.full__menu .line {
  display: block;
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
}

.meals {
  background-color: white;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
  -webkit-box-shadow: 3px 3px 7px #d6d5d5;
          box-shadow: 3px 3px 7px #d6d5d5;
  width: 340px;
  height: 65px;
}

.meals h4 {
  margin-top: 15px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
}

.meals p {
  margin: 0;
  padding-top: 2px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 15px;
  font-size: .9em;
}

.meals span {
  padding-right: 18px;
  padding-left: 15px;
}

.last__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map {
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 20px;
  background-color: #ebe9e9;
  -webkit-box-shadow: inset 0 5px 5px #d6d5d5;
          box-shadow: inset 0 5px 5px #d6d5d5;
  font-size: 1.2em;
}

.map__search input {
  border: none;
  background-color: #ebe9e9;
  font-size: 18px;
  font-weight: 550;
  margin-left: 15px;
  width: 170px;
}

.about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 60px;
  padding-left: 5px;
}

.about h2 {
  font-size: 1.5em;
  margin-top: 10px;
  margin-right: 40px;
  margin-bottom: 5px;
  margin-left: 40px;
}

.about p {
  color: #505050;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.btn__about {
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  border: transparent;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: white;
  font-size: 1.05em;
  cursor: pointer;
}

.operation h2 {
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}

.operation__step {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
}

.operation__step li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px 20px 20px 20px;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  padding-left: 15px;
  -webkit-box-shadow: 3px 5px 6px #d6d5d5;
          box-shadow: 3px 5px 6px #d6d5d5;
  width: 295px;
}

.operation__step li:hover {
  background: #f2eafb;
}

.operation__step li:hover i {
  color: #9356DC;
}

.operation__step li i {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: -10px;
  font-size: 1.3rem;
  color: #7a7979;
}

.operation__step li p {
  padding-left: 10px;
  font-weight: 600;
}

.operation_step--number {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: -26px;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 8px;
  background-color: #9356DC;
  border-radius: 50% 50% 50% 50%;
  color: white;
}

.restaurant {
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
  background-color: #f5f5f5;
}

.restaurant__title {
  position: relative;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 18px;
  font-size: 1.4em;
}

.restaurant__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 340px;
  margin-bottom: 15px;
}

.card img {
  width: 340px;
  height: 180px;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card figure {
  margin: 0;
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  width: 340px;
  -webkit-box-shadow: 3px 5px 5px #d6d5d5;
          box-shadow: 3px 5px 5px #d6d5d5;
}

.card figcaption {
  height: 60px;
}

.card h4 {
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.card i {
  position: relative;
  top: -10px;
  right: 0;
  bottom: 0;
  left: 295px;
  font-size: 1.5rem;
  color: #7a7979;
  cursor: pointer;
}

.card p {
  position: relative;
  bottom: 23px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
}

.new {
  position: relative;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 240px;
  text-align: center;
  font-weight: bold;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 70px;
  background-color: #99E2D0;
  border-radius: 3px 3px 3px 3px;
  color: #008766;
}

footer {
  background-color: #353535;
  color: white;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 25px;
}

footer h5 {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 1.2em;
}

footer ul {
  padding-left: 0;
}

footer i {
  padding-right: 10px;
}

footer .fa-hands-helping {
  font-size: .7em;
}

footer li {
  padding-bottom: 5px;
}

.btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__order {
  border: transparent;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), color-stop(#b35cdc), color-stop(#cf64dc), color-stop(#e86edb), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: white;
  font-size: 1.05em;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 47px;
  padding-bottom: 15px;
  padding-left: 47px;
  margin-top: 50px;
}
/*# sourceMappingURL=styles.css.map */