@import './Utils/variables';
@import './Base/typography';
@import './Utils/mixins';

// center le haut de page accueil

.menu__header, .map, .about{
    @extend %center;
}
.menu__header i{
    position: relative;
    right: 40px;
    font-size: 1.2em;
}
.header__img img{
    display: flex;
    @include dimension (100%,20%);
    max-height: 275px;
    object-fit: cover;

}
.menu__main{
    background-color: $background-color-gray;
}

.menu{
    position:relative;
    bottom: 50px;
    background-color: $background-color-gray;
    border-radius: 45px 45px 0 0;
    &__title{
        @extend %center;
        flex-direction: row;
    }
    & h1{
        @include margin (35px,0,15px,0);
        font-size: 1.7em;
    }
    & i{
        font-size: 1.4em;
        margin-left: 20px;
        padding-top: 18px;
        color: $icon-color;
    }
}
.full__menu{
    @extend %center;
    flex-direction: column;
    & h3{
        text-transform: uppercase;
        font-weight: 200;
        font-size: 1em;
        @include margin (15px,0,5px,0);
    }
    & .line{
        display: block;
        @include dimension (45px,3px);
        background-color: $tertiary-color;
    }
}
.meals{
    background-color: white;
    border-radius: 1.2rem;
    box-shadow: 3px 3px 7px $shadow;
    @include dimension (340px,68px);
    & h4{
        @include margin (15px,0,0,0);
        @include padding (10px,0,0,15px);
    }
    & p{
        margin: 0;
        @include padding (2px,0,5px,15px);
        font-size: .9em;
    }
    & span{
        padding-right: 18px;
    }
}
.last__line{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
// MAP

.map{
    @include padding (15px, 0, 15px, 20px);
    background-color: $background-color-map;
    box-shadow: inset 0 5px 5px $shadow;
    font-size: 1.2em;
    &__search input{
        border: none;
        background-color: $background-color-map;
        font-size: 18px;
        font-weight: 550;
        margin-left: 15px;
        width: 170px;
    }
}

// ABOUT

.about{
    flex-direction: column;
    text-align: center;
    background-color: $background-color-gray;
    @include padding (20px, 5px, 60px, 5px);
    & h2{
        font-size: 1.5em;
        @include margin (10px,40px,5px,40px)
    }
    & p{
        color: rgb(80, 80, 80);
        @include margin (5px, 0, 30px,0)
    }
}
.btn__about{
    @include padding (12px,15px,12px,15px);
    @include purple-btn;
}

// OPERATION

.operation{
    & h2{
        @include margin(50px, 0, 20px, 20px);
    }
    &__step{
        @extend %center;
        flex-wrap: wrap;
        padding-left: 20px;
    }
}
.operation__step li{
    cursor: pointer;
    &:hover{
        background: #f2eafb;
    }
    &:hover i{
        color: $primary-color;
    }
    display: flex;
    align-items: center;
    background-color: $background-color-gray;
    @include margin (5px, 20px, 25px, 10px);
    @include padding (12px, 15px, 12px, 15px);
    border-radius: 20px;
    box-shadow: 3px 5px 6px $shadow;
    width: 295px;
    & i{
        @include dimension (20px,20px);
        @include position (0,0,0,-10px);
        font-size: 1.3rem;
        color: $icon-color;
    }
    & p{
        padding-left: 10px;
        font-weight: 600;
    }
}
.operation_step--number{
    @include position (0,0,0,-26px);
    @include padding (2px,8px,2px,8px);
    background-color: $primary-color;
    border-radius: 50%;
    color: white;
}

// RESTAURANT 

.restaurant{
    @include padding (40px,0,40px,0);
    background-color: $background-color-gray;
    &__title{
        @include position (10px,0,0,0);
        @include margin (0,0,0,18px);
        font-size: 1.4em;
    }
    &__card{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.card{
    width: 340px;
    margin-bottom: 15px;
    & img{
        @include dimension (340px, 180px);
        border-radius: 1rem 1rem 0 0;
        object-fit: cover;
    }
    & figure{
        margin: 0;
        background-color: white;
        width: 340px;
        border-radius: 1rem;
        box-shadow: 3px 5px 5px $shadow;
    }
    & figcaption{
        height: 60px;
    }
    & h4{
        @include margin (8px,0,0,10px);
        font-weight: bold;
        font-size: 1.1em;
    }
    & i{
        @include position (-10px,0,0,295px);
        font-size: 1.5rem;
        color: $icon-color;
        cursor: pointer;
    }
    & p{
        position: relative;
        bottom: 23px;
        @include margin (0,0,0,10px);
    }
}

.new{
    @include position (45px,0,0,240px);
    text-align: center;
    font-weight: bold;
    @include padding (5px,10px,5px,10px);
    width: 70px;
    background-color: $tertiary-color;
    color: #008766;
    border-radius: 3px;
}

// FOOTER

footer{
    background-color: #353535;
    color: white;
    @include padding (20px,0,20px,25px);
    & h5{
        @include margin (10px,0,20px,0);
        font-size: 1.2em;
    }
    & ul{
        padding-left: 0;
    }
    & i{
        padding-right: 10px;
    }
    & .fa-hands-helping{
        font-size: .7em;
    }
    & li{
        padding-bottom: 5px;
    }
}

// order
.btn__container{
    display: flex;
    justify-content: center;
}
.btn__order{
    @include purple-btn;
    @include padding (15px,47px,15px,47px);
    margin-top: 50px;
}