

//LOADER

@keyframes spin-load {

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        opacity: 1;
        z-index: 3;
    }
    60%{
        opacity: 1;
    }
    85% {
        opacity: 0.6;
    }
    99% {
        opacity: 0.2;
        z-index: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}