@mixin padding ($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
@mixin margin ($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin dimension ($width, $height){
    width: $width;
    height: $height;
}

@mixin position ($top, $right, $bottom, $left){
    position: relative;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin purple-btn {
    border: transparent;
    border-radius: 30px;
    background-image: $linear-gradient;
    color: white;
    font-size: 1.05em;
    cursor: pointer;
}
@mixin background-border ($color, $border-top-left-radius, $border-top-right-radius, 
$border-bottom-right-radius, $border-bottom-left-radius){
    background-color: $color;
    border-radius: $border-top-left-radius $border-top-right-radius 
    $border-bottom-right-radius $border-bottom-left-radius;
}