.map {
    @extend %center;
    @include padding (15px, 0, 15px, 20px);
    background-color: $background-color-map;
    box-shadow: inset 0 5px 5px $shadow;
    font-size: 1.2em;

    &__search input {
        border: none;
        background-color: $background-color-map;
        font-size: 18px;
        font-weight: 600;
        margin-left: 15px;
        width: 170px;
    }
}